body {
font-family: 'Oswald', sans-serif;
}

h1 {
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
}

h1 + p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.bg {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    height: 740px;
    text-align: center;
}